<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestro sitio Web</title>
</head>

<body>
    <div>
        <a href="/pagina1">Pagina1</a>
        <a href="/pagina2">Pagina2</a>
    </div>
    <br />
    <hr />
    <br />

    {% block contenido %}

    {% endblock %}

    <br />
    <hr />
    <br />

    <h5>Pie de pagina</h5>

</body>

</html>